<div class="center">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(project.image.url), project %>
          <div class="caption">
            <h3><%= project.name %></h3><br>
            <p><%= project.description %></p><br>
            <% if user_signed_in? %>
              <%= link_to 'Show', project, class: "btn btn-link" %>
              <%= link_to 'Edit', edit_project_path(project), class: "btn btn-link" %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            <% end %>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Project', new_project_path, class: "btn btn-link" %>
<% end %>

<br>