<p id="notice"><%= notice %></p>

<%= image_tag @project.image_url %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %> |
<%= link_to 'Back', projects_path, class: "btn btn-link" %>
