<div class="row">
	<div class="col-md-4">
		<%= image_tag @project.image_url %>
		<div class="container">
			<br>
			<p>
      			<strong>Website:</strong><br>
      			<%= link_to @project.website, @project.website %>	
    		</p>
    		<p>
  				<strong>Code:</strong><br>
      			<%= link_to @project.link, @project.link %>
    		</p>
	    </div>
	</div>
	<div class="col-md-8">
		<h3><%= @project.name %></h3>
		<p><%= @project.description %></p>
	</div>		
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %> |
  <%= link_to 'Back', projects_path, class: "btn btn-link" %>
<% else %>
  <%= link_to 'Back', projects_path, class: "btn btn-link" %>
<% end %>